<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
    />
  </head>
  <body>
    <main>
      <article>
        <form method="post">
          <input name="id" placeholder="id" required aria-required />
          <input
            name="url"
            type="url"
            placeholder="https://..."
            required
            aria-required
          />

          <button type="submit">Submit</button>
        </form>
      </article>

      <article>
        <table>
          <thead>
            <tr>
              <td>ID</td>
              <td>URL</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for shortcut in shortcuts %}
            <tr>
              <td>
                <button
                  class="copy"
                  style="padding: 0.25rem; margin-right: 0.25rem"
                  data-id="{{ shortcut.id }}"
                >
                  📋
                </button>
                <span>{{ shortcut.id }}</span>
              </td>
              <td>{{ shortcut.url }}</td>
              <td>
                <button data-id="{{ shortcut.id }}" class="delete">
                  delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
    <script type="module">
      document.querySelectorAll("button.delete").forEach((button) => {
        button.addEventListener(
          "click",
          async () => {
            const id = button.getAttribute("data-id");
            const promise = fetch(`/_delete/${id}`, { method: "delete" });
            button.parentElement.parentElement.remove();
            await promise;
          },
          { once: true },
        );
      });

      document.querySelectorAll("button.copy").forEach((button) =>
        button.addEventListener("click", async () => {
          const id = button.getAttribute("data-id");
          const promise = navigator.clipboard.writeText(
            `${window.location.protocol}//${window.location.host}/${id}`,
          );

          try {
            console.log(await promise);
          } catch (e) {
            console.error(e);
          }
        }),
      );
    </script>
  </body>
</html>
